<% content_for(:title) { "Books" } %>

<div class="library">
  <% @books.each do |book| %>
    <figure class="library__book">
      <%= link_to book, class: "txt-undecorated txt-ink flex flex-column gap-half" do %>
        <%= image_tag book.cover.attached? ? book.cover : "default-cover.svg", alt: "Book cover", class: "book__cover" %>
        <h2 class="margin-none flex flex-column">
          <strong><%= book.title %></strong>
          <small class="translucent txt-normal"><%= book.author %></small>
        </h2>
      <% end %>
    </figure>
  <% end %>

  <figure class="library__book">
    <div class="txt-undecorated txt-ink flex flex-column gap-half" data-controller="popup">
      <%= image_tag "default-cover.svg", alt: "Book cover", class: "book__cover", data: { action: "click->popup#toggle" }, style: "cursor: pointer" %>
      <div class="txt-small txt-align-center">
        <button class="btn btn--positive center", data-action="popup#toggle">
          <%= image_tag "add.svg", aria: { hidden: true }, size: 24 %>
          <span class="for-screen-reader">Create a new book</span>
        </button>

        <dialog class="dialog panel" data-popup-target="popup">
          <%= render "books/form", book: Book.new %>
          <div class="flex align-center gap margin-block-start">
            <button type="submit" form="book-editor", class="btn btn--positive flex-item-justify-start">
              <%= image_tag "check.svg", aria: { hidden: true }, size: 24 %>
              <span class="for-screen-reader">Save</span>
            </button>
            <form method="dialog" class="flex-item-justify-end">
              <button class="btn btn--negative">
                <%= image_tag "remove.svg", aria: { hidden: true }, size: 24 %>
                <span class="for-screen-reader">Cancel and close</span>
              </button>
            </form>
          </div>
        </dialog>
      </div>
    </div>
  </figure>
</div>
